<?xml version="1.0"?>
<!--
/**
 * @author Jhonathan da silva
 * @link https://github.com/jhonathan93
 * @link https://www.linkedin.com/in/jhonathan-silva-367541171/
 * @package Jhonathan_ProgressBar
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="jhonathan_progressbar" translate="label" type="text" sortOrder="400" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Free shipping progress bar</label>
            <tab>jhonathan_tab</tab>
            <resource>jhonathan_progressbar::configuration</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Enable Autocomplete ViaCep]]></comment>
                </field>
            </group>
            <group id="settings" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Settings</label>
                <field id="text_color" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Text color</label>
                    <frontend_model>Jhonathan\Core\Block\Color</frontend_model>
                    <validate>required-entry</validate>
                    <comment><![CDATA[]]></comment>
                </field>
                <field id="color1" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Colored background bar</label>
                    <frontend_model>Jhonathan\Core\Block\Color</frontend_model>
                    <validate>required-entry</validate>
                    <comment><![CDATA[]]></comment>
                </field>
                <field id="color2" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Color foreground bar</label>
                    <frontend_model>Jhonathan\Core\Block\Color</frontend_model>
                    <validate>required-entry</validate>
                    <comment><![CDATA[]]></comment>
                </field>
            </group>
            <group id="logging" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Debug</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Enable logging]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>
