!/app/etc/config.php
/app/autoload.php
/app/bootstrap.php
/app/etc/db_schema.xml
/app/etc/di.xml
/app/etc/env.php
/app/etc/NonComposerComponentRegistration.php
/app/etc/vendor_path.php
/app/etc/registration_globlist.php
/vendor
/generated
/pub
/bin
/var
/.idea
/dev
/lib
/phpserver
/setup
.editorconfig
.htaccess
.php-cs-fixer.cache
.php-cs-fixer.dist.php
.user.ini
CHANGELOG.md
COPYING.txt
Gruntfile.js.sample
LICENSE.txt
LICENSE_AFL.txt
SECURITY.md
