<?xml version="1.0"?>
<!--
/**
* @author Jhonathan da silva
* @link https://github.com/jhonathan93
* @link https://www.linkedin.com/in/jhonathan-silva-367541171/
* @package Jhonathan_ViaCep
*/
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- INTERFACE -->
    <preference for="Jhonathan\ViaCep\Api\ViaCepInterface" type="Jhonathan\ViaCep\Model\ViaCep" />
    <!-- INTERFACE -->

    <!-- START CUSTOM LOGGER -->
    <type name="Jhonathan\ViaCep\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Jhonathan\ViaCep\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">ViaCepLogger</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Jhonathan\ViaCep\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
    <!-- END CUSTOM LOGGER -->
</config>